<% if server_db? -%>
db_password: <%= SecureRandom.alphanumeric(32) %>
<% end -%>
<% if mysql? -%>
mysql_root_password: <%= SecureRandom.alphanumeric(32) %>
<% end -%>
<% if redis? -%>
redis_password: <%= SecureRandom.alphanumeric(32) %>
<% end -%>
<% if template_options[:errors] == 'rollbar' -%>
rollbar_access_token:
<% end -%>
<% if template_options[:errors] == 'sentry' -%>
sentry_dsn:
<% end -%>
secret_key_base: <%= SecureRandom.hex(64) %>
