accessories:
  <%- if db.postgresql? -%>
  db:
    image: postgres:17
    host: <%%= ENV['DB_HOST'] %>
    port: 5432
    env:
      secret:
        - POSTGRES_DB
        - POSTGRES_USER
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql/data
  <%- elsif db.mysql? -%>
  db:
    image: mysql:8
    host: <%%= ENV['DB_HOST'] %>
    port: 3306
    env:
      secret:
        - MYSQL_ROOT_HOST
        - MYSQL_ROOT_PASSWORD
    directories:
      - data:/var/lib/mysql
  <%- end -%>
  <%- if redis? -%>
  redis:
    image: redis:7
    host: <%%= ENV['REDIS_HOST'] %>
    port: 6379
    cmd: "/bin/sh -c 'redis-server --requirepass $REDIS_PASSWORD'"
    env:
      secret:
        - REDIS_PASSWORD
    directories:
      - data:/data
  <%- end -%>
