accessories:
  <%- if postgresql? -%>
  db:
    image: postgres:16
    host: <%%= ENV['DB_HOST'] %>
    port: 5432
    env:
      secret:
        - POSTGRES_DB
        - POSTGRES_USER
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql/data
  <%- end -%>
  <%- if redis? -%>
  redis:
    image: redis:7
    host: <%%= ENV['REDIS_HOST'] %>
    port: 6379
    cmd: "/bin/sh -c 'redis-server --requirepass $REDIS_PASSWORD'"
    env:
      secret:
        - REDIS_PASSWORD
    directories:
      - data:/data
  <%- end -%>
