accessories:
  <%- if postgresql? -%>
  db:
    image: postgres:17
    host: <%%= ENV['SERVER_IP'] %>
    # Change to 5432 to expose port to the world instead of just local network.
    port: 127.0.0.1:5432:5432
    env:
      secret:
        - POSTGRES_DB
        - POSTGRES_USER
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql/data
  <%- elsif mysql? -%>
  db:
    image: <%= db.match?('mariadb') ? 'mariadb:11' : 'mysql:8' %>
    host: <%%= ENV['SERVER_IP'] %>
    # Change to 3306 to expose port to the world instead of just local network.
    port: 127.0.0.1:3306:3306
    env:
      secret:
        - MYSQL_ROOT_HOST
        - MYSQL_ROOT_PASSWORD
        - MYSQL_DATABASE
        - MYSQL_USER
        - MYSQL_PASSWORD
    files:
      - db/production.sql:/docker-entrypoint-initdb.d/setup.sql
    directories:
      - data:/var/lib/mysql
  <%- end -%>
  <%- if redis? -%>
  redis:
    image: redis:7
    host: <%%= ENV['SERVER_IP'] %>
    # Change to 6379 to expose port to the world instead of just local network.
    port: 127.0.0.1:6379:6379
    cmd: "/bin/sh -c 'redis-server --requirepass $REDIS_PASSWORD'"
    env:
      secret:
        - REDIS_PASSWORD
    directories:
      - data:/data
  <%- end -%>
