servers:
  <%- if template_options[:worker] -%>
  worker:
    hosts:
      - <%%= ENV['SERVER_IP'] %>
    cmd: bin/jobs
    proxy: false
  <%- else -%>
  web:
    - <%%= ENV['SERVER_IP'] %>
  <%- end -%>
