<% if !template_options[:worker] -%>
require './lib/generators/rails/resource_route_generator'

<% end -%>
Rails.application.config.generators do |g|
  <%- if template_options[:worker] -%>
  g.resource_route false
  g.scaffold_controller false
  <%- else -%>
  g.helper false
  g.scaffold_controller :scaffold_controller_custom

  g.controller_specs true
  g.request_specs false
  g.routing_specs false
  g.view_specs false
  <%- end -%>
end
