# Environment variables shared by the development and test environments.
# This file should not contain any sensitive production/staging data.

<% if redis? -%>
REDIS_URL=
<% end -%>
SECRET_KEY_BASE=<%= SecureRandom.hex(64) %>
TIMEZONE=<%= timezone %>
