# Environment variables shared by the development and test environments.
# This file should not contain any sensitive production/staging data.

<% if template_options[:solid_dev] -%>
  <%- if db.postgresql? -%>
DATABASE_URL=postgres://localhost:5432/<%= app_name %>_development
  <%- elsif db.mysql? -%>
DATABASE_URL=mysql://root@localhost:3306/<%= app_name %>_development
  <%- else -%>
DATABASE_URL=TO_FILL
  <%- end -%>
<% end -%>
<% if redis? -%>
REDIS_URL=
<% end -%>
SECRET_KEY_BASE=<%= SecureRandom.hex(64) %>
<% if template_options[:solid_dev] -%>
SOLID_QUEUE_IN_PUMA=true
<% end -%>
TIMEZONE=<%= timezone %>
