# Use main branch while waiting for next version that has more formatting options
gem 'amazing_print', github: 'amazing-print/amazing_print', branch: 'main'
<% if template_options[:auth] == 'devise' -%>
# Use main branch while waiting for next version that includes a Rails 8 fix
gem 'devise', github: 'heartcombo/devise', branch: 'main'
<% end -%>
<% if template_options[:pundit] -%>
gem 'pundit'
<% end -%>
<% if template_options[:redis] && !File.read('Gemfile').include?('redis') -%>
gem 'redis'
<% end -%>
<% if template_options[:errors] == 'rollbar' -%>
gem 'rollbar'
<% end -%>
<% if template_options[:errors] == 'sentry' -%>
gem 'sentry-rails'
<% end -%>
