gem 'awesome_print'
<% if template_options[:devise] -%>
# Using main branch while waiting for next version that includes a Rails 8 fix
gem 'devise', github: 'heartcombo/devise', branch: 'main'
<% end -%>
<% if template_options[:errors] == 'honeybadger' -%>
gem 'honeybadger'
<% end -%>
<% if template_options[:pundit] -%>
gem 'pundit'
<% end -%>
<% if template_options[:redis] && skip_action_cable? -%>
gem 'redis'
<% end -%>
<% if template_options[:errors] == 'rollbar' -%>
gem 'rollbar'
<% end -%>
<% if template_options[:errors] == 'sentry' -%>
gem 'sentry-rails'
<% end -%>
