<% if rspec? -%>
gem 'fuubar'
gem 'rspec-its'
gem 'shoulda-matchers'
<% else -%>
  <%- if ace_template_defaults? -%>
gem 'minitest-reporters'
  <%- end -%>
gem 'mocha'
<% end -%>
<% if template_options[:vcr] -%>
gem 'vcr'
<% end -%>
gem 'webmock'
