TODO:
  1. Make sure the app works as per instructions below
  <%- if template_options[:vcr] -%>
  1. If recording VCR cassettes, make sure to filter out any API key in
     `spec/support/vcr.rb`
  <%- end -%>
  1. Deploy app if needed (see "How to deploy" instructions)
  1. Delete "How to deploy" instructions
  1. Delete this section

# <%= app_title %>

## Getting Started

1. Install dependencies and set up the app:

    ```
    bin/setup --skip-server
    ```

1. Make sure tests pass (everything should be green):

    ```
    bin/rspec
    ```

<% if template_options[:worker] -%>
1. See if the app works by executing a service class:

    ```
    bin/rails runner 'SayHello.new.perform'
    ```

    Or run `bin/dev` or `bin/jobs` to process background jobs.
<% else -%>
1. Start the app:

    ```
    bin/dev
    ```

1. You can now access http://localhost:3000 and are ready to go!
<% end -%>

## How to deploy

<% if kamal? -%>
### With Kamal, on your own server

1. Open `.kamal/secrets.production` and set values for the following variables:
    - `SERVER_IP`: your server's IP address
    - `KAMAL_REGISTRY_USERNAME`: your Docker Hub username
    - `KAMAL_REGISTRY_PASSWORD`: your Docker Hub password

1. If on macOS, make sure Docker Desktop is running

1. Set up the server:

    ```
    bin/kamal setup
    ```

1. Visit your server's IP in your browser:

    ```
    bin/kamal open
    ```

(If you want to configure SSL, uncomment the proxy section in
`config/deploy.yml`, set `host` to your domain, and optionally change
`config/environments/production.rb` by setting `assume_ssl` and `force_ssl` to
`true`)

<% end -%>
### With Fly.io

<% if mysql? -%>
Fly.io does not work with MySQL out of the box.
More configuration is required, and is not covered in these instructions.
<% end -%>

<% if template_options[:worker] -%>
1. Initialize the Fly app:

    ```bash
    DISABLE_SPRING=true fly launch --no-deploy --yes --name <%= app_uniqueish_name.dasherize %>
    ```

1. Open `fly.toml`, remove the `[http_service]` section, and add the following section:


    ```
    [processes]
      worker = 'bin/jobs'
    ```

1. Deploy the app:

    ```bash
    # (Optional) Set any extra env vars with: fly secrets set MY_VAR=value
    fly deploy
    ```
<% else -%>
```bash
DISABLE_SPRING=true fly launch --no-deploy --yes --name <%= app_uniqueish_name.dasherize %>
# (Optional) Set any extra env vars with: fly secrets set MY_VAR=value
fly deploy
fly apps open
```
<% end -%>

### With Heroku

<% if server_db? && solid? -%>
Heroku does not work out of the box with Rails 8's default multiple databases.
The instructions below only work for a single production database.
<% end -%>
<% if !postgresql? -%>
Heroku does not work with non-Postgres databases out of the box.
More configuration is required, and is not covered in these instructions.
<% end -%>

```bash
heroku create <%= app_uniqueish_name %> # Name must be unique
<% if postgresql? -%>
heroku addons:add heroku-postgresql
watch -n 10 heroku addons:info heroku-postgresql # Wait for Postgres addon state to be "created". This can take a while...
<% end -%>
awk '/source/ { print; print "\nruby file: \x27.ruby-version\x27" } !/source/' Gemfile > Gemfile.new && mv Gemfile.new Gemfile && bundle && git add --all && git commit -m 'Specify ruby version for Heroku'
# (Optional) Set any extra env vars with: heroku config:set MY_VAR=value
git push heroku main
heroku run rake db:migrate
heroku open
```
