TODO:
  1. Make sure the app works as per instructions below
  1. Deploy app if needed (see "How to deploy" instructions)
  1. Delete "How to deploy" instructions
  1. Delete this section

# <%= app_title %>

## Getting Started

1. Install dependencies and set up the app:

    ```
    bin/setup --skip-server
    ```

1. Make sure tests pass (everything should be green):

    ```
    bin/rspec
    ```

<% if !template_options[:worker] -%>
1. Start the app:

    ```
    bin/dev
    ```

1. You can now access http://localhost:3000 and are ready to go!

<% end -%>
## How to deploy

### With Kamal, on your own server

1. Open `.kamal/secrets.production` and set values for the following variables:
    - `SERVER_IP`: your server's IP address
    - `KAMAL_REGISTRY_USERNAME`: your Docker Hub username
    - `KAMAL_REGISTRY_PASSWORD`: your Docker Hub password

1. If on macOS, make sure Docker Desktop is running

1. Set up the server:

    ```
    bin/kamal setup
    ```

1. Visit your server's IP in your browser

### With Fly.io

```bash
DISABLE_SPRING=true fly launch --no-deploy --yes --name <%= app_uniqueish_name.dasherize %> # Name must be unique
fly secrets set SECRET_KEY_BASE=$(ruby -rsecurerandom -e "puts SecureRandom.hex(64)")
fly deploy
fly apps open
```

### With Heroku

```bash
heroku create <%= app_uniqueish_name %> # Name must be unique
<% if postgresql? -%>
heroku addons:add heroku-postgresql
# Wait for Postgres addon state to be "created". This can take a while...
watch -n 10 heroku addons:info heroku-postgresql
<% end -%>
git push heroku main
heroku run rake db:migrate
heroku open
```
