def authenticate(user = nil)
  <%- if factory_bot? -%>
  user ||= create(:user)
  <%- else -%>
  user ||= users(:john)
  <%- end -%>

  sign_in user

  user
end

def unauthenticate
  sign_out :user
end
