require 'test_helper'

class PasswordsControllerTest < ActionDispatch::IntegrationTest
  <%- if template_options[:rails_fixtures] -%>
  setup { @user = users(:john) }

  <%- end -%>
  test 'new' do
    get new_password_path

    assert_response :ok
  end

  test 'create' do
    <%- if factory_bot? -%>
    create(:user, email: 'john@test.com')
    <%- end -%>
    PasswordsMailer.expects(:reset).returns(stub_everything)

    <%- if factory_bot? -%>
    post passwords_path, params: { email: 'john@test.com' }
    <%- else -%>
    post passwords_path, params: { email: @user.email }
    <%- end -%>

    assert_redirected_to new_session_path
  end

  test 'create with nonexistent email' do
    PasswordsMailer.expects(:reset).never

    post passwords_path, params: { email: some_email }

    assert_redirected_to new_session_path
  end

  test 'edit' do
    <%- if factory_bot? -%>
    user = create(:user)

    get edit_password_path(user.password_reset_token)
    <%- else -%>
    get edit_password_path(@user.password_reset_token)
    <%- end -%>

    assert_response :ok
  end

  test 'edit with invalid token' do
    get edit_password_path('invalid_token')

    assert_redirected_to new_password_path
  end

  test 'update' do
    <%- if factory_bot? -%>
    user = create(:user)

    patch password_path(user.password_reset_token),
          params: {
            password: 'abc123',
            password_confirmation: 'abc123'
          }
    <%- else -%>
    patch password_path(@user.password_reset_token),
          params: {
            password: 'abc123',
            password_confirmation: 'abc123'
          }
    <%- end -%>

    assert_redirected_to new_session_path
  end

  test 'update with non matching passwords' do
    <%- if factory_bot? -%>
    user = create(:user)

    patch password_path(user.password_reset_token),
          params: {
            password: 'abc123',
            password_confirmation: 'def456'
          }
    <%- else -%>
    patch password_path(@user.password_reset_token),
          params: {
            password: 'abc123',
            password_confirmation: 'def456'
          }
    <%- end -%>

    assert_redirected_to edit_password_path
  end

  test 'update with invalid token' do
    patch password_path('invalid_token')

    assert_redirected_to new_password_path
  end
end
