require 'rails_helper'

describe PasswordsController do
  <%- if template_options[:rails_fixtures] -%>
  let(:user) { users(:john) }

  <%- end -%>
  describe '#new' do
    before { get :new }

    it { should respond_with :ok }
  end

  describe '#create' do
    before { allow(PasswordsMailer).to receive_message_chain(:reset, :deliver_later) }

    context 'when email exists' do
      <%- if factory_bot? -%>
      before do
        create(:user, email: 'john@test.com')

        post :create, params: { email: 'john@test.com' }
      end
      <%- else -%>
      before { post :create, params: { email: user.email } }
      <%- end -%>

      it { should redirect_to new_session_path }
      it { expect(PasswordsMailer).to have_received :reset }
    end

    context 'when email does not exist' do
      before { post :create, params: { email: some_email } }

      it { should redirect_to new_session_path }
      it { expect(PasswordsMailer).not_to have_received :reset }
    end
  end

  describe '#edit' do
    context 'when token is valid' do
      <%- if factory_bot? -%>
      before do
        user = create(:user)

        get :edit, params: { token: user.password_reset_token }
      end
      <%- else -%>
      before { get :edit, params: { token: user.password_reset_token } }
      <%- end -%>

      it { should respond_with :ok }
    end

    context 'when token is invalid' do
      before { get :edit, params: { token: 'invalid_token' } }

      it { should redirect_to new_password_path }
    end
  end

  describe '#update' do
    context 'when password and password confirmation match' do
      before do
        <%- if factory_bot? -%>
        user = create(:user)

        <%- end -%>
        patch :update,
              params: {
                token: user.password_reset_token,
                password: 'abc123',
                password_confirmation: 'abc123'
              }
      end

      it { should redirect_to new_session_path }
    end

    context 'when password and password confirmation do not match' do
      before do
        <%- if factory_bot? -%>
        user = create(:user)

        <%- end -%>
        patch :update,
              params: {
                token: user.password_reset_token,
                password: 'abc123',
                password_confirmation: 'def456'
              }
      end

      it { should redirect_to edit_password_path }
    end

    context 'when token is invalid' do
      before { patch :update, params: { token: 'invalid_token' } }

      it { should redirect_to new_password_path }
    end
  end
end
