john:
  email: john@test.com
  <%- if template_options[:auth] == 'devise' -%>
  encrypted_password: <%%= Devise::Encryptor.digest(User, 'MyString') %>
  <%- else -%>
  password_digest: <%%= BCrypt::Password.create('MyString') %>
  <%- end -%>
